html {
	margin: 0;
}
body {
	position: relative;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans",sans-serif;
}
nav {
	padding-bottom: 0px!important;
}
.y{
	float: center!important;
}

.navbar-toggler{
	border-radius: 0;
	border:0;
}
.container-fluid-nav{
	background-color: #4C0D06;
	height: 7rem;
	border-bottom: 0.313rem solid #B79E9C;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
}
.menu-rrss{
	padding-left: 200px;
}
.invisible{
	color: #4C0D06;
	background-color: #4C0D06;
}
.img-mantenimiento{
	width: 600px;
}
.borde{
	border: 1px solid #B79E9C;
}


/* ----------------- Medias Query -------------------------- */

@media screen and (max-width:575px){
    .logo-header{
		max-width: 290px;
	}
	.portada{
		margin-bottom: -10px;
	}
	.container-fluid{
		margin-left: 20px;
	}
	.slide{
		height: 600px!important;
	}
	.slide-inicio{
		height: 650px!important;
	}
	.brand{
		text-align: center!important;
	}
	.logo-f{
		padding-right: 20px!important;
		margin-bottom: 20px;
		width: 290px;
	}
	#footer{
		padding: 10px;
		width: 100%;
	}
	p{
		font-size:1rem!important;
	}
	.texto-footer{
        font-size: 1rem!important;
	}
	#footer .footer_header {
		font-size: 1.25rem!important;
	}
	.footer-link{
		font-size: 1rem!important;
	}
	.call-1{
		background-image:url("../img/call-m-1.png")!important;
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
	}
	.call-2{
		background-image:url("../img/call-m-2.png")!important;
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
	}
	.btn-principal{
		font-size: 1rem!important;
		height: 2.875rem!important;
	}
	.btn-call{
		width: 100%!important;
		font-size: 1rem!important;
		height: 2.875rem!important;
	}
	.btn-call-2{
		width: 100%!important;
		font-size: 1rem!important;
		height: 2.875rem!important;
	}
	.portada{
		margin-bottom: -30px!important;
	}
	.container-fluid-nav{
		background-color: #4C0D06;
		height: 9.4rem;
	}
	.navbar-expand-md{
		background-color: #4C0D06;
		/*border-bottom: 0.313rem solid #B79E9C;*/
	}
	.container-fluid-nav::after{
		border-bottom: 0.313rem solid #B79E9C!important;
	}
	.navbar-collapse{
		/*padding: 5px 40px;*/
		padding-top: 5px;
	}
	.item-menu{
		font-size: 0.8rem!important;
	}
	.breadcrums{
		font-size: 9pt!important;
	}
	.breads{
		margin-top: 40px!important;
	}
	.btn-siguiente{
		width: 120px!important;
		font-size: 1rem!important;
	}
	.btn-anterior{
		width: 120px!important;
		font-size: 1rem!important;
	}
	.texto-breads{
		font-size: 9pt!important;
	}
	.footer_header{
		text-align: center!important;
	}
	.menu-footer{
		text-align: center!important;
		margin-bottom: 30px!important;
	}
	.post{
		text-align: center!important;
	}
	.slide{
		height: 300px!important;
	}
	.slide-inicio{
		height: 480px!important;
	}
	.carousel__lista {
		padding-top: 220px!important;
	}
	.carousel__anterior{
		left: 20px!important;
	}
	.carousel__siguiente{
		right: 20px!important;
	}
	.carousel__anterior,
	.carousel__siguiente {
		top: 320px!important;
	}
	.btn-enviar{
		font-size: 1rem!important;
	}
	.btn-borrar{
		font-size: 1rem!important;
	}
	.img-mantenimiento{
		width: 300px!important;
	}
	.item-menu{
		width: 100%!important;
		text-align: center!important;
	}
	.menu2{
		background-color: #4C0D06;
		border-bottom: 0.313rem solid #B79E9C;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
	}
}
@media screen and (min-width:576px) and (max-width:767px){
	.container-fluid-nav{
		background-color: #4C0D06;
		height: 9.2rem!important;
	}
	.e{
		float: left!important;
	}
}
@media screen and (min-width:568px) and (max-width:991px){
	.container-fluid-nav{
		background-color: #4C0D06;
		height: 5.8rem;
	}
}
@media screen and (min-width:320px) and (max-width:375px){
	.carousel__anterior,
	.carousel__siguiente {
		top: 360px!important;
	}
	.slide-inicio{
		height: 510px!important;
	}
}
@media screen and (min-width:376px) and (max-width:575px){
	.carousel__anterior,
	.carousel__siguiente {
		top: 400px!important;
	}
	.slide-inicio{
		height: 550px!important;
	}
}
@media screen and (min-width:576px) and (max-width:991px){
	.nav-link{
		font-size: 1rem!important;
		margin-top: 0px;
	}
	.logo-header{
		width: 300px!important;
	}
	.logo-f{
		width: 230px!important;
	}
	.slide{
		height: 400px!important;
	}
	.slide-inicio{
		height: 480px!important;
	}
	.header-center{
		margin-left: 50px!important;
	}
}
@media screen and (min-width:992px) and (max-width:1025px){
	.nav-link{
        font-size: 1rem!important;
		margin-top: 0px;
    }
	.logo-header{
		width: 320px!important;
	}
	.menu-rrss{
		padding-left: 80px!important;
	}
	.header-center{
		margin-left: 80px!important;
	}
	.opciones-menu {
		padding-left: 100px!important;
	}
}
@media screen and (min-width:1026px) and (max-width:1499px){
	.header-center{
		margin-left: 80px!important;
	}
	.nav-link{
		font-size: 1.1rem!important;
		margin-top: 0px;
	}
}
@media screen and (min-width:1026px) and (max-width:1199px){
	.opciones-menu {
		padding-left: 150px!important;
	}
}
@media screen and (min-width:1200px) and (max-width:1499px){
	.i {
		margin-left: 100px!important;
	}
}
@media screen and (min-width:1200px) and (max-width:1399px){
	.opciones-menu {
		padding-left: 190px!important;
	}
}
@media screen and (min-width:1400px) and (max-width:1499px){
	.opciones-menu {
		padding-left: 310px!important;
	}
}
@media screen and (min-width:1500px) and (max-width:9999px){
	.opciones-menu {
		padding-left: 200px!important;
	}
}
@media screen and (min-width:1500px) and (max-width:2000px){
	.header-center{
		margin-left: 280px!important;
	}
}
@media screen and (min-width:2000px){
	.header-center{
		margin-left: 680px!important;
	}
}

/* --------------------------------------------------------- */
.alert-formulario{
	background-color: white!important;
	border: 1px solid #4C0D06!important;
	color: #4C0D06!important;
	text-align: center!important;
	border: none!important;
}

.sin-underline:hover{
	text-decoration: none;
}

input[type="text"], 
input[type="password"], 
input[type="submit"],input[type="email"],input[type="tel"],
textarea {
	border-radius: 0;
	outline-style: none;
	border: 1px solid #ddd;
	height: 2.5rem;
	padding-left: 15px;
	
}
textarea{
	padding-top: 5px;
	height: 150px;
	width: 100%!important;
}
.greyArea{
    padding-top:3.125rem;
    padding-bottom:3.125rem;
    background-color:#EEEEEE;
}
.whiteArea{
    padding-top:3.125rem;
    padding-bottom:3.125rem;
    background-color:#ffffff;
}
.call-1{
	background-image:url("../img/call-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	height: 278px;
}
.call-2{
	background-image:url("../img/call-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	height: 278px;
}
.slide{
	height: 310px!important;
}
.portada{
	width: 100%;
}
.logo-f{
	width: 300px;
}


/* ----------- Textos -----------*/
h1{
	color:#4C0D06;
	font-family: 'junge', san-serif !important;
	text-align: left;
	font-size: 1.875rem;
}
h2{
	color:#4C0D06;
	font-family: 'junge', san-serif !important;
	text-align: left;
	font-size: 1.6rem;
}
h3{
	color:#4C0D06;
	font-family: 'junge', san-serif !important;
	text-align: left;
	font-size: 1.3rem;
}
h2:hover a{
	text-decoration: underline;
	text-align: left;
}
h4{
	color:#4C0D06;
	font-family: 'junge', san-serif !important;
	font-size: 1.25rem;
	text-align: left;
}
p{
	color: #707070;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
	text-align: justify!important;
	
}
small{
	color: #707070;
	font-family: "Open Sans",sans-serif;
	font-size: 0.938rem;
	text-align: justify;
}
.texto-breads{
	color:#4C0D06!important;
	font-size: 11pt;
	text-align: left;
}
ul {
    list-style: none!important;
}

/* ----------- Menú -----------*/
.logo-header {
	width: 340px;
	text-align: left;
}
.menu{
	/*border-bottom: 0.313rem solid #B79E9C;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);*/
}

.menu2{
	/*border-bottom: 0.313rem solid #B79E9C;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);*/
}

.nav-link{
	color: #B79E9C!important;
	padding: 5px 15px;
	font-size: 1.25rem;
	font-weight: 500;
	font-family: 'junge', san-serif !important;
}
.nav-link:hover{
	background-color: #B79E9C!important;
	color:#4C0D06!important;
}
.redes-header{
	color: #B79E9C;
	font-size: 1.675rem;
	padding-right: 0.8rem;
}
.redes-header:hover{
	color:#bd9c6b;
}
.rrss-idioma{
	margin-top: 0.1rem!important;
}
.combobox{
	width: 60px;
	padding-bottom: 3px;
	font-size: 1.2rem;
	font-family: "Open Sans",sans-serif;
	color: #B79E9C;
	border:2px solid #B79E9C;
    background-color:#4C0D06;
	text-align: center;
}


/* ----------- Botones y links ----------- */
a:hover {
	text-decoration: none;
}
.link1{
	color: #B79E9C;
}
.link1:hover{
	color: #4C0D06;
	text-decoration: underline; 
}

.btn-principal{
	color:#B79E9C;
	background-color:#4C0D06;
	height: 3.75rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
}
.btn-principal:hover{
	color:#4C0D06;
	background-color:#B79E9C;
}
.btn-principal:active{
	color: #4C0D06!important;
	background-color:#B79E9C!important;
}
.btn-call{
	color:#B79E9C;
	background-color:#4C0D06;
	height: 3.75rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
	padding: 0px 20px;
}
.btn-call:hover{
	color:#4C0D06;
	background-color:#B79E9C;
	border:1px solid #4C0D06;
}
.btn-call-2{
	color:#4C0D06;
	background-color:#B79E9C;
	height: 3.75rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
	padding: 0px 20px;
}
.btn-call-2:hover{
	color:#B79E9C;
	background-color:#4C0D06;
	border:1px solid #B79E9C;
}
.breadcrums{
	color: #4C0D06;
	font-size: 11pt;
}
.breadcrums:hover{
	color: #6b3b3b;
	text-decoration: underline;
}
.redes-footer{
	color:#FFF;
	font-size: 1.675rem;
	padding-right: 0.8rem;
}
.redes-footer:hover{
	color:#dbcccb;
}
.link-footer{
	color:#FFF;
}
.link-footer:hover{
	color:#dbcccb;
	text-decoration: underline;
}
.link-vermas{
	color:#4C0D06;
	font-weight: 600;
}
.link-vermas:hover{
	color:#653434;
	text-decoration: underline;
}
.btn-siguiente{
	color:#B79E9C;
	background-color:#4C0D06;
	height: 2.5rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1rem;
	width: 150px;
}
.btn-siguiente:hover{
	color:#4C0D06!important;
	background-color:#B79E9C!important;
}
.btn-anterior{
	color:#4C0D06;
	background-color:#B79E9C;
	height: 2.5rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1rem;
	width: 150px;
}
.btn-anterior:hover{
	color:#B79E9C!important;
	background-color:#4C0D06!important;
}
.btn-slider{
	color:#B79E9C;
	background-color:#4C0D06;
	height: 3.75rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
}
.btn-enviar{
	color:#B79E9C;
	background-color:#4C0D06;
	height: 2.5rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
	outline-style: none;
	border-style: none;
	padding: 0 30px;
}
.btn-enviar:hover{
	color:#4C0D06!important;
	background-color:#B79E9C!important;
}
.btn-borrar{
	color:#4C0D06;
	background-color:#B79E9C;
	height: 2.5rem;
	border-radius: 0;
	font-family: "Open Sans",sans-serif;
	font-size: 1.125rem;
	outline-style: none;
	border-style: none;
	padding: 0 30px;
}
.btn-borrar:hover{
	color:#B79E9C!important;
	background-color:#4C0D06!important;
}

.link{
	color: #4C0D06;
}

.link:hover{
	color:#B79E9C;
	text-decoration: underline;
}

.link-inicial{
	color: #B79E9C;
	text-align: center;
}
.link-inicial:hover{
	text-decoration: underline;
}


#footer {
	min-height: 260px;
	background-color: #252528;
	color: #FFF!important;
	padding-top: 35px;
}

#footer .footer_header {
	color: #FFF;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 0px; 
	border-bottom: 1px solid #FFF;
}
.menu-footer{
	list-style: none!important;
	padding-left: 0px!important;
	text-align: left;
	font-family: 'junge', san-serif !important;
}
.footer-link{
	color:#FFF;
	font-size: 1.25rem;
}
.footer-link:hover{
	color:#dbcccb;
	font-weight: 600;
}
.footer-text p{
	color:#FFF!important;
}

/* ----------- Slider -----------*/

@keyframes slide {

}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	margin: 0 auto;
}

.slider-areas {
	position: relative;
}

.slides {
	position: static;
	display: flex;
	overflow: hidden;
}

.slide- {
	width: 100vw;
	flex-shrink: 0;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	padding: 5px;
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #4C0D06;
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
}
.slider-controler a:hover{
	background-color: #B79E9C;
	color: #4C0D06;

}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1000px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

/* ----------- Slider -----------*/

.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 20px;
	height: 30px;
	border: none;
	top: calc(60% - 35px);
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	background: none;
	color: black;
	opacity: 50%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
	padding-top: 80px;
}

.carousel__elemento {
	text-align: left;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}